// scss-lint:disable PropertyCount /* buttons just need lots of properties */
.button {
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  display: block;
  font-size: 1em;
  font-family: inherit;
  border-radius: $cardRadius;
  background-color: $primaryColor;
  color: $black;
  border: 2px solid transparent;
  transition: background-color .1s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: .2s;
  transition-timing-function: ease;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba($primaryColor,.4), 0 6px 20px rgba($primaryColor,.3);


  &:hover, &:active, &:focus {
    background-color: $black;
    color: $white;
    text-decoration: none;
    box-shadow: 0 2px 6px rgba($black,.4), 0 6px 20px rgba($black,.3);
    outline: 0;
  }

  &:active {
    background-color: $black;
    color: $white;
    border-color: $black;
  }

  &--full-width {
    width: 100%;
  }

  &--secondary {
    border-color: $white;
    background-color: $white;
    color: $black;
    text-transform: none;
    box-shadow: 0 1px 5px rgba(0,0,0,.1), 0 4px 15px rgba(0,0,0,.1);

    &:hover, &:active, &:focus {
      background-color: $white;
      color: $black;
      border-color: $black;
      box-shadow: 0 1px 5px rgba(0,0,0,.1), 0 4px 15px rgba(0,0,0,.1);
    }
  }

  &--social {
    display: flex;

    .icon,
    span {
      margin-right: auto;
      align-self: center;
    }
  }

  &--text-only {
    background-color: transparent;
    text-transform: none;
    border: 1px solid transparent;
    color: $darkerGrey;
    text-align: center;
    font-weight: normal;
    padding: .5em 1em;
    box-shadow: 0 0 0 transparent !important;

    &:hover {
      background-color: transparent;
      color: $black;
      border-color: transparent;
    }

    &:focus {
      outline: none;
      outline: 0;
      background-color: $lightGrey;
      border-color: $lightGrey;
      color: $black;
    }

    &:active {
      background-color: $black;
      color: $white;
      border-color: $black;
    }
  }

  &--sign-up {
    border-color: $white;
    background-color: $white;
    color: $black;
    text-transform: none;
    margin: .5em 0 auto;
    box-shadow: 0 2px 5px rgba(0,0,0,.05), 0 4px 15px rgba(0,0,0,.02);

    &:hover, &:active, &:focus {
      background-color: $white;
      color: $black;
      border-color: $black;
      box-shadow: 0 2px 5px rgba(0,0,0,.05), 0 4px 15px rgba(0,0,0,.1);
    }
  }

  &--unpadded {
    margin-left: -1em; // compensate for padding we need for its focus state
  }

  &:last-child {
    margin-bottom: 0;
  }

  svg,
  span {
    pointer-events: none;
  }
}
