.card {
  background-color: $white;
  margin: auto;
  width: 100%;
  border-radius: $cardRadius;

  @media ( min-width: 30em ) {
    box-shadow: $cardShadow;
    max-width: 25em;
  }

  @media ( min-width: 45em ) {
    display: flex;
    flex-direction: row;
    max-width: 44em;
    box-shadow: $cardShadow;
  }

  @supports ( display: grid ) {
    grid-row-start: 2;
  }

  &__left {
    flex: 60% 1;
  }
  &__right {
    flex: 40% 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: $primaryColor;
    background-size: cover;
    color: $black;
    p {
      margin-top: 0;
    }
    .footer-logo {
      width: 100%;
      max-width: 201px;
      margin: 0;
    }
    .footer-logo-text {
      margin-top: auto;
      font-size: .85em;
      color: darken($primaryColor,25);
    }
    @media ( min-width: 30em ) {
      border-radius: 0 0 4px 4px;
    }
    @media ( min-width: 45em ) {
      border-radius: 0 4px 4px 0;
      .footer-logo {
        margin-bottom: -10px;
      }
    }
  }
  &__left, &__right {
    padding: 2em;
    position: relative;

    @media ( min-width: 45em ) {
      padding: 2.5em;
    }
  }

  &__back {
    margin-bottom: 1em;
  }

  &__heading {
    font-size: 1.4em;
    font-weight: 400;
    padding-left: 2.125em;
    position: relative;
    min-height: 1.5em;
    margin-top: 0;

    &--iconless {
      padding-left: 0;
    }

    img {
      width: 1.5em;
      height: 1.5em;
      position: absolute;
      left: 0;
      top: 0;
    }

    &--success {
      color: $green;
    }

    &--error {
      color: $red;
    }
  }

  [data-screen]:focus {
    outline: none; // @TODO remove me
  }
}

