.legal-links {
  width: 100%;
  display: flex;
  justify-content: center;

  li {
    margin: 1.5em 1em 0 0;
    font-size: .85em;
    &:last-child {
      margin-right: 0;
    }
  }

  a {
    text-decoration: none;
    color: $darkerGrey;
    &:hover, &:focus, &:active {
      color: $black;
      // text-decoration: underline;
      // text-decoration-skip: ink;
    }
  }
}
