.legal-links {
  width: 100%;
  display: flex;
  justify-content: center;

  li {
    margin: 1em 1em 0 0;
    font-size: .75em;
    &:last-child {
      margin-right: 0;
    }
  }

  a {
    text-decoration: none;
    color: rgba($black,.5);
    transition: color .2s;
    &:hover, &:focus, &:active {
      color: $black;
      // text-decoration: underline;
      // text-decoration-skip: ink;
    }
  }
}
