.legal-links {
  width: 100%;
  display: flex;
  justify-content: space-between;

  li {
    margin: 0 1em 0 0;
    font-size: .75em;
    &:last-child {
      margin-right: 0;
    }
  }

  a {
    text-decoration: none;
    color: $white;
    &:hover, &:focus, &:active {
      color: $white;
      text-decoration: underline;
      text-decoration-skip: ink;
    }
  }
}
