.setting {

  input {
    position: absolute;
    left: -9999em;

    &:focus + label span {
      border: 1px dotted;
    }
  }

  label {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
  }

  &__disabled-text {
    display: inline;

    input:checked + label & {
      display: none;
    }
  }

  &__enabled-text {
    display: none;

    input:checked + label & {
      display: inline;
    }
  }

  &__toggle {
    width: 3em;
    height: 1.75em;
    border-radius: 1em;
    background-color: $lightGrey;
    display: inline-block;
    vertical-align: middle;
    margin-right: .5em;
    position: relative;
    border: 1px solid transparent;
    cursor: pointer;
    transition: background-color .2s ease;
    box-shadow: 0 2px 8px rgba(0,0,0,.1) inset;

    input:checked + label & {
      background-color: $primaryColor;
    }

    &::after {
      transition: all 0.2s ease;
      position: absolute;
      width: 1.25em;
      height: 1.25em;
      border-radius: 1em;
      content: '';
      top: .2em;
      left: .25em;
      background-color: white;
      box-shadow: 0 2px 8px rgba(0,0,0,.1);

      input:checked + label & {
        left: 1.415em;
      }
    }
  }
}
