.link-to-tooltip {
  color: $midGrey;
  float: right;
  font-size: 1.2em;

  svg path {
    fill: $midGrey;
  }

  &:hover svg path {
    fill: $darkerGrey;
  }

  .icon {
    vertical-align: baseline;
    margin-top: .16em;
  }
}

.tooltip {
  display: none;
  background-color: $lightGrey;
  padding: 1em;
  margin: 1em 0;
  font-size: 75%;
  border-radius: $cardRadius;
  box-shadow: 0 2px 8px rgba($black,.1) inset;

  p:last-child {
    margin-bottom: 0;
  }

  a:last-child /* Assuming this would be 'Dismiss' */ {
    margin-left: .5em;
  }

  &:target {
    display: block;
  }
}
