form {
  margin: 0;

  * {
    font-family: inherit;
  }
}

fieldset {
  border: 0;
  padding: 0;
}

label {
  margin: 2em 0;
  display: block;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 100%;
  background-color: $lightGrey;
  border: 0;
  padding: 10px;
  display: block;
  width: 100%;
  margin-bottom: .5em;
  -webkit-appearance: none;
  border-radius: $cardRadius;
  transition: all .2s ease;
  box-shadow: 0 1px 6px rgba(0,0,0,.05) inset, 0 3px 12px rgba(0,0,0,.02) inset;
  line-height: 1.4;
  border: 2px solid $midGrey;

  &:hover,
  &:focus {
    outline: none;
    background-color: $white;
    border-color: $primaryColor;
    box-shadow: 0 1px 6px rgba(0,0,0,.1) inset, 0 3px 12px rgba(0,0,0,.05) inset;
  }

}

.form__input {
  position: relative;

  p + & {
    margin-top: 2.5em; /* leave space to fit a paragraph above a field */
  }

  label {
    margin: 0;
    position: absolute;
    top: -1.5em;
    left: 10px;
    color: $primaryColor;
    font-weight: bold;
    > span {
      font-size: 0.75em;
    }
  }
}
