form {
  margin: 0;

  * {
    font-family: inherit;
  }
}

fieldset {
  border: 0;
  padding: 0;
}

label {
  margin: 2em 0;
  display: block;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 100%;
  background-color: $white;
  border: 0;
  padding: 10px;
  display: block;
  width: 100%;
  margin-bottom: 1em;
  -webkit-appearance: none;
  border-radius: $cardRadius;
  transition: border-color .2s ease;
  line-height: 1.4;
  border: 2px solid $midGrey;

  &:hover,
  &:focus {
    outline: none;
    background-color: $white;
    border-color: $primaryColor;
  }

}

.form__password {
  height: 39px;
  margin-top: 24px;
  transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
  transition-property: visibility, height, margin-top, opacity, -ms-transform, -webkit-transform, transform;
  -webkit-transition-property: visibility, height, margin-top, opacity, -webkit-transform, transform;
  transition-duration: 0s, 0.2s, 0.2s, 0.2s;
  -webkit-transition-duration: 0s, 0.2s, 0.2s, 0.2s;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  &--hidden {
    height: 0;
    margin-top: 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.form__input {
  position: relative;

  p + & {
    margin-top: 2.5em; /* leave space to fit a paragraph above a field */
  }

  label {
    margin: 0;
    position: absolute;
    top: -.75em;
    left: 10px;
    color: $primaryColor;
    background: $white;
    font-weight: bold;
    padding: 0 2px;
    > span {
      font-size: 0.75em;
    }
  }
}
