form {
  margin: 0;

  * {
    font-family: inherit;
  }
}

fieldset {
  border: 0;
  padding: 0;
}

fieldset.hidden-lastpass-password-offset {
  margin-bottom: -4em;
}

#hidden-lastpass-password {
  height: 3em;
  position: relative;
  z-index: -999;
}

label {
  margin: 2em 0;
  display: block;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 100%;
  background-color: $white;
  padding: 10px;
  display: block;
  width: 100%;
  margin-bottom: 1em;
  -webkit-appearance: none;
  border-radius: $cardRadius;
  transition: border-color .2s ease;
  line-height: 1.4;
  border: 2px solid $midGrey;

  &:hover,
  &:focus {
    outline: none;
    background-color: $white;
    border-color: $primaryColor;
  }

  &:focus {
    background-color: $white;
  }
}

.form__input {
  position: relative;

  p + & {
    margin-top: 2.5em; /* leave space to fit a paragraph above a field */
  }

  label {
    margin: 0;
    position: absolute;
    top: -0.65em;
    left: .65em;
    padding: 0 4px;
    background: $white;
    color: $darkerGrey;
    font-weight: bold;
    font-size: .75em;
  }
  &:first-child {
    margin-top: 1em;
  }
}
