$lightGrey: #fafafa;
$midGrey: #e5e5e5;
$darkerGrey: #999;
$white: #fff;
$black: #000;
$backgroundColor: $lightGrey;

$blue: #229DC4;
$yellow: #fff44f;
$darkYellow: #faba00;
$green: #158640;
$red: #ff4f5e;

$primaryColor: #bab9de;

$cardShadow: 0 13px 28px #e9e9e9;
$cardRadius: 4px;

* {
  box-sizing: border-box;
}

@import 'generic/forms';
@import 'generic/typography';

@import 'components/banner';
@import 'components/button';
@import 'components/card';
@import 'components/icon';
@import 'components/legal-links';
@import 'components/list';
@import 'components/loading';
@import 'components/login-options';
@import 'components/logo';
@import 'components/rp-name';
@import 'components/setting';
@import 'components/tooltip';
